* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'SVN-Bango';
  src: url('./font/SVN-Bango.otf');
}

@font-face {
  font-family: 'SVN-Prima';
  src: url(./font/SVN-Prima.ttf);
}

body {
  position: relative;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: space-around;
}

.title-box,
.option-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box {
  flex-direction: column;
  gap: 5px;
}

.title-box p:nth-child(1) {
  font-family: SVN-Bango;
  font-size: 300%;
  text-align: center;
}

.title-box p:nth-child(2) {
  font-family: SVN-Prima;
  text-align: center;
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 80%;
  height: 80%;
}

.options p {
  font-family: SVN-Prima;
  font-size: 200%;
  text-align: center;
}

.options select {
  width: 50%;
  height: 5%;
}

.InfoGame {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5%;
  height: 5%;
}

#startgame {
  cursor: pointer;
  font-family: SVN-Prima;
  width: 20%;
  height: 10%;
}

#twoplayer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* thong bao thang tro choi */
.backgroundf {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-box {
  width: 50%;
  height: 70%;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title1 {
  font-family: SVN-Bango;
  font-size: 300%;
}
