@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Overpass+Mono:wght@300&family=Roboto+Slab&family=Roboto:wght@500&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Varela Round', sans-serif;
    overflow: hidden;
}
body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    flex-direction: column;
}
h1 {
    letter-spacing: 5px;
    position: absolute;
    top: 15%;
}
.chooselever {
    position: absolute;
    width: 50vh;
    height: 30vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}
.chooselever button {
    padding: 0.5vh 2vh;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    appearance: none;
    border: none;
    border-radius: 1vh;
}
.chooselever button:hover , .chooselever form div select:hover  {
    background: rgba(255, 255, 255, 0.5);
}
.chooselever form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}
.chooselever div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chooselever form div select {
    width: 20vh;
    height: 5vh;
    background: rgba(255, 255, 255, 0.2);
    appearance: none;
    outline: none;
    text-align: center;
    border: none;
    border-radius: 1vh;
    font-size: 1.5vh;
}
.chooselever form div select option {
    color: black;
}
form p {
    font-weight: 1vh;
}
@keyframes close {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes closeh1 {
    0% {
        transform: translateY(1vh);
    }
    100% {
        transform: translateY(-50vh);
    }
}


/* table */
.game {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}
table {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5vh;
    padding: 0.5vh;
    border-spacing: 5px;
}
th {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5vh;
    font-weight: normal;
    width: 2em;
    height: 2em;
}
th p {
    font-size: 1em;
}

@keyframes hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes true {
    0% {
        background: rgba(255, 255, 255, 0.2);
    }
    100% {
        background: rgb(124, 252, 0);
    }
}
@keyframes error {
    0% {
        background: rgba(255, 255, 255, 0.2);
    }
    20% {
        background: red;
    }
    100% {
        background: rgba(255, 255, 255, 0.2);
    }
}

#find {
    font-size: 3vh;
}
#countdown {
    width: 40vh;
    height: 10vh;
    text-align: center;
    font-size: 3vh;
}
.copyright {
    font-size: 10px;
    position: absolute;
    bottom: 1vh;
    color: rgba(255, 255, 255, 0.4);
}


.grid {
    position: absolute;
    left: 0.5vh;
    top: 0.5vh;
    background: rgba(255, 255, 255, 0.2);
    appearance: none;
    outline: none;
    text-align: center;
    border: none;
    border-radius: 0.5vh;
    width: 8vh;
    height: 2vh;
    font-size: 1vh;
    text-align: center;
}
.grid:hover {
    background: rgba(255, 255, 255, 0.5);
}
.grid option {
    color: black;
}

#retry {
    padding: 1vh 5vh;
    appearance: none;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1vh;
    position: absolute;
    bottom: 18vh;
}
#retry:hover {
    background: rgba(255, 255, 255, 0.5);
}